
/* import af font */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* farve variabler i root*/
:root {
    --color-bg-top: #9adfe9;
    --color-bg-mid: #71b5de;
    --color-bg-bot: #4a83be;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


/*-------------------
ELEMENTER
--------------------*/
.baggrund {
    background: linear-gradient(var(--color-bg-top), var(--color-bg-mid), var(--color-bg-bot));
    z-index: 0;
    min-height: 120vh;
}

.akvarie {
    width: 80vw;
    max-width: 100%;
    position: absolute;
    top: 1%;
    left: 14%;
    z-index: 1;
}

.sten-1 {
    position: absolute;
    left: 45%;
    bottom: 2%;
    width: 14vw;
    z-index: 6;
}

.sten-2 {
    position: absolute;
    right: 20%;
    bottom: 6%;
    width: 10vw;
    z-index: 3;
    transform: rotate(-18deg);
}

.sten-3 {
    position: absolute;
    right: 30%;
    bottom: 3%;
    width: 6vw;
    z-index: 3;
    transform: rotate(-8deg);
}

.sten-4 {
    position: absolute;
    left: 25%;
    bottom: 10.5%;
    width: 10vw;
    z-index: 3;
    transform: rotate(25deg);
}

.pink-musling {
    position: absolute;
    right: 28%;
    bottom: 4%;
    width: 3vw;
    z-index: 4;
}

.green-musling {
    position: absolute;
    left: 33%;
    bottom: 6.5%;
    width: 4vw;
    z-index: 2;
}

.gul-musling {
    position: absolute;
    left: 23%;
    bottom: 16%;
    width: 4vw;
    z-index: 6;
    transform: rotate(20deg);
}

.krabbe {
    position: absolute;
    right: 42%;
    bottom: 10%;
    width: 5vw;
    z-index: 6;
    transform: rotate(10deg);
}

.akvarie-tang-1 {
    position: absolute;
    right: 40%;
    bottom: 3%;
    width: 22vw;
    z-index: 5;
}

.akvarie-tang-2 {
    position: absolute;
    left: 18%;
    bottom: 16.5%;
    width: 12vw;
    z-index: 2;
}

.akvarie-tang-3 {
    position: absolute;
    right: 18%;
    bottom: 8%;
    width: 10vw;
    z-index: 2;
}

.akvarie-tang-4 {
    position: absolute;
    right: 28%;
    bottom: 6%;
    width: 8vw;
    z-index: 2;
}

.akvarie-tang-5 {
    position: absolute;
    left: 28%;
    bottom: 12%;
    width: 8vw;
    z-index: 2;
}


/*-----------
ANIMATIONER
-------------*/
.klovnfisk {
    position: absolute;
    bottom: 38%;
    right: 18%;
    width: 12vw;
    animation: klovnfisk 16s linear infinite;
    cursor: pointer;
    z-index: 6;
}

@keyframes klovnfisk {
    0% {transform: translateX(0);}                           /* fiskens startpunkt*/
    48% {transform: translateX(-48vw) rotateY(0);}          /* fisken svømmer til venstre*/
    50% {transform: translateX(-48vw) rotateY(180deg);}     /* fisken laver en hurtig vendning*/
    98% {transform: translateX(0) rotateY(180deg);}          /* fisken svømmer mod højre*/
    100% {transform: translateX(0) translateY(0);}           /* den laver en hurtig vending og starter loopen forfra*/
}

.mini-klovnfisk {
    position: absolute;
    top: 12%;
    right: 18%;
    width: 6vw;
    animation: klovnfisk 14s linear infinite;
    cursor: pointer;
    z-index: 6;
}

@keyframes mini-klovnfisk {
    0% {transform: translateX(0);}
    48% {transform: translateX(-20vw) rotateY(0);}
    50% {transform: translateX(-20vw) rotateY(180deg);}
    98% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) translateY(0);}
}


.laks {
    position: absolute;
    bottom: 68%;
    left: 22%;
    width: 14vw;
    animation: laks 15s linear infinite;
    cursor: pointer;
    z-index: 7;
}

@keyframes laks {
    0% {transform: translateX(0);}
    49% {transform: translateX(40vw) rotateY(0);}
    50% {transform: translateX(40vw) rotateY(180deg);}
    98% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) translateY(0);}
}


.green-fisk {
    position: absolute;
    bottom: 30%;
    left: 25%;
    width: 10vw;
    animation: green-fisk 18s linear infinite;
    cursor: pointer;
    z-index: 8;
}

@keyframes green-fisk {
    0% {transform: translateX(0);}
    49% {transform: translateX(50vw) rotateY(0);}
    50% {transform: translateX(50vw) rotateY(180deg);}
    99% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) rotateY(0);}
}


.lilla-fisk {
    position: absolute;
    bottom: 20%;
    right: 20%;
    width: 12vw;
    animation: lilla-fisk 12s linear infinite;
    cursor: pointer;
    z-index: 8;
}

@keyframes lilla-fisk {
    0% {transform: translateX(0) rotateY(180deg);}
    49% { transform: translateX(-44vw) rotateY(180deg);}
    50% {transform: translateX(-44vw) rotateY(0);}
    99% {transform: translateX(0) rotateY(0);}
    100% {transform: translateX(0) translateY(0);}
}


.pink-fisk {
    position: absolute;
    bottom: 55%;
    left: 22%;
    width: 10vw;
    animation: pink-fisk 20s linear infinite;
    cursor: pointer;
    z-index: 10;
}

@keyframes pink-fisk {
    0% {transform: translateX(0);}
    48% {transform: translateX(48vw) rotateY(0);}
    50% {transform: translateX(44vw) rotateY(180deg);}
    98% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) rotateY(0);}
}


/*-----------------
TILBAGE KNAP
-------------------*/
.tilbagebtn {
    position: fixed;
    left: 2vw;
    bottom: 2vh;
    border: none;
    background: transparent;
    padding: 8px;
    cursor: pointer;
    z-index: 20;
}

.tilbagebtn img {
    display: block;
    width: 15vw;
    height: auto;
}


/*------------------------------------
MEDIA BREAKPOINTS RESPONSIVE DESIGN
-------------------------------------*/
@media (max-width: 1366px) {
    .akvarie {
        position: absolute;
        width: 80vw;
        top: 15%;
        left: 14%;
    }

    .laks {
        position: absolute;
        bottom: 65%;
    }
}