/*-------------------
FONT IMPORT POPPINS
--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/*------------
ROOT OG RESET
--------------*/
:root {
    --color-bg-top: #9adfe9;
    --color-bg-mid: #71b5de;
    --color-bg-bot: #4a83be;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*--------
BAGGRUND
----------*/
.baggrund {
    background: linear-gradient(var(--color-bg-top), var(--color-bg-mid), var(--color-bg-bot));
    z-index: 0;
    min-height: 100vh;
}


/*-------------------------
ELEMENT PLACERING PÅ SIDEN
---------------------------*/
.akvarie {
    width: 70vw;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 3%;
    left: 18%;
    z-index: 1;
}

.krabbe {
    position: fixed;
    top: 30vh;
    left: -6vw;
    width: 20vw;
    z-index: 2;
    rotate: 75deg;
}

.talebobel {
    position: fixed;
    top: 2vh;
    width: 22vw;
    left: 2vw;
    z-index: 3;
}

.cykel {
    position: absolute;
    bottom: 4%;
    left: 38%;
    z-index: 4
}

.skraldespand {
    position: absolute;
    bottom: 2vh;
    width: 14vw;
    right: 2vw;
    z-index: 4;
}


/*-----------
ANIMATIONER
-------------*/
.klovnfisk {
    position: absolute;
    bottom: 40%;
    right: 18%;
    animation: klovnfisk 16s linear infinite;
    cursor: pointer;
    z-index: 6;
}

@keyframes klovnfisk {
    0% {transform: translateX(0);}                           /* fiskens startpunkt*/
    48% {transform: translateX(-48vw) rotateY(0);}          /* fisken svømmer til venstre*/
    50% {transform: translateX(-48vw) rotateY(180deg);}     /* fisken laver en hurtig vendning*/
    98% {transform: translateX(0) rotateY(180deg);}          /* fisken svømmer mod højre*/
    100% {transform: translateX(0) translateY(0);}           /* den laver en hurtig vending og starter loopen forfra*/
}

.mini-klovnfisk {
    position: absolute;
    bottom: 60%;
    right: 16%;
    width: 5vw;
    animation: klovnfisk 10s linear infinite;
    cursor: pointer;
    z-index: 6;
}

@keyframes mini-klovnfisk {
    0% {transform: translateX(0);}
    48% {transform: translateX(-52vw) rotateY(0);}
    50% {transform: translateX(-48vw) rotateY(180deg);}
    98% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) translateY(0);}
}


.laks {
    position: absolute;
    bottom: 70%;
    left: 25%;
    width: 10vw;
    animation: laks 15s linear infinite;
    cursor: pointer;
    z-index: 7;
}

@keyframes laks {
    0% {transform: translateX(0);}
    49% {transform: translateX(40vw) rotateY(0);}
    50% {transform: translateX(48vw) rotateY(180deg);}
    98% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) translateY(0);}
}


.blue-fisk {
    position: absolute;
    bottom: 25%;
    left: 25%;
    width: 8vw;
    animation: blue-fisk 10s linear infinite;
    cursor: pointer;
    z-index: 8;
}

@keyframes blue-fisk {
    0% {transform: translateX(0);}
    49% {transform: translateX(50vw) rotateY(0);}
    50% {transform: translateX(50vw) rotateY(180deg);}
    99% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) rotateY(0);}
}


.lilla-fisk {
    position: absolute;
    bottom: 18%;
    right: 20%;
    width: 10vw;
    animation: lilla-fisk 8s linear infinite;
    cursor: pointer;
    z-index: 8;
}

@keyframes lilla-fisk {
    0% {transform: translateX(0) rotateY(180deg);}
    49% { transform: translateX(-44vw) rotateY(180deg);}
    50% {transform: translateX(-44vw) rotateY(0);}
    99% {transform: translateX(0) rotateY(0);}
    100% {transform: translateX(0) translateY(0);}
}


.pink-fisk {
    position: absolute;
    bottom: 55%;
    left: 22%;
    width: 10vw;
    animation: pink-fisk 10s linear infinite;
    cursor: pointer;
    z-index: 10;
}

@keyframes pink-fisk {
    0% {transform: translateX(0);}
    48% {transform: translateX(48vw) rotateY(0);}
    50% {transform: translateX(44vw) rotateY(180deg);}
    98% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) rotateY(0);}
}


/*-----------------
TILBAGE KNAP
-------------------*/
.tilbagebtn {
    position: fixed;
    left: 2vw;
    bottom: 2vh;
    border: none;
    background: transparent;
    padding: 8px;
    cursor: pointer;
    z-index: 20;
}

.tilbagebtn img {
    display: block;
    width: 15vw;
    height: auto;
}


/*----------------------
DRAG AND DROP EFFEKTER
------------------------*/
/*.skraldespand.over {
    transform: translateY(-6px) scale(1.05);
    transition: transform 120ms ease, filter 120ms ease;
    filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.18));    
}

.fade-out {
    transition: opacity 200ms ease, transform 200ms ease;
    opacity: 0.01;
    transform: scale(0.85) translateY(6px);
    pointer-events: none;
}
 */



/*------------------------------------
MEDIA BREAKPOINTS RESPONSIVE DESIGN
-------------------------------------*/
@media (max-width: 1366px) {
    .akvarie {
        position: absolute;
        width: 80vw;
        top: 15%;
        left: 14%;
    }

    .cykel {
        position: absolute;
        bottom: 8%;
    }

    .laks {
        position: absolute;
        bottom: 65%;
    }
}