/*------------------
FONT IMPORT POPPINS
--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/*------------
ROOT OG RESET
--------------*/
:root {
    --color-bg-top: #9adfe9;
    --color-bg-mid: #71b5de;
    --color-bg-bot: #4a83be;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---------
BAGGRUND 
----------*/
.baggrund {
    background: linear-gradient(var(--color-bg-top), var(--color-bg-mid), var(--color-bg-bot));
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

.sand {
    position: absolute;
    width: 100vw;
    top: 70%;
    bottom: 0%;
}


/*------------
SPIL KNAPPEN
--------------*/
.videns-akvarie-btn {
    position: absolute;
    width: 35vw;
    height: 35vh;
    bottom: 30%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}

.videns-akvarie-btn {
    left: 38.5vw;
    background-image: url("../img/akvarie-btn.png");
}


/*--------------------
FORSIDE OVERSKRIFTEN
----------------------*/
.overskrift {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "poppins";
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    border-radius: 15px;
}


/*------------------------------
ELEMEMENT PLACERING PÅ FORSIDEN
--------------------------------*/
.akvariemanden {
    position: absolute;
    top: 45%;
    left: 62%;
    z-index: 6;
    width: 12vw;
}

.green-tang {
    position: absolute;
    top: 20%;
    left: 3%;
    z-index: 4;
    width: 12vw;
}

.green-tang-lille {
    position: absolute;
    top: 45%;
    left: 14%;
    z-index: 4;
    width: 7vw;

}

.green-tang-stor {
    position: absolute;
    top: 16%;
    right: 14%;
    z-index: 4;
    width: 11vw;

}

.green-tang-stor-2 {
    position: absolute;
    top: 31%;
    right: 1%;
    z-index: 4;
    width: 10vw;

}

.lilla-tang {
    position: absolute;
    top: 61%;
    left: 35%;
    z-index: 3;
    width: 6vw;
}

.gul-tang {
    position: absolute;
    z-index: 4;
    top: 45%;
    left: 30%;
    z-index: 2;
    width: 8vw;
}

.gul-tang-stor {
    position: absolute;
    top: 47%;
    right: 6%;
    z-index: 5;
    width: 12vw;
}

.sten-lille {
    position: absolute;
    top: 70%;
    left: 32%;
    z-index: 5;
    width: 10vw;
}

.sten-lille-2 {
    position: absolute;
    top: 68%;
    right: 23%;
    z-index: 5;
    width: 6vw;
}

.sten-stor {
    position: absolute;
    top: 70%;
    left: 6%;
    z-index: 5;
    width: 16vw;
}

.sten-stor-2 {
    position: absolute;
    top: 68%;
    right: 14%;
    z-index: 5;
    width: 12vw;
}

.sten-stor-3 {
    position: absolute;
    top: 76%;
    right: 2%;
    z-index: 5;
    width: 16vw;
}

.musling {
    position: absolute;
    top: 76%;
    left: 16%;
    z-index: 5;
    width: 4vw;
}


/*-------------
ANIMATIONER
---------------*/
.klovnfisk {
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: 6;
    width: 4vw;
    animation: klovnfisk 10s linear infinite;
}

@keyframes klovnfisk {
    0% {transform: translate(0, 0) scaleX(-1) rotate(0deg);}
    25% {transform: translate(-100px, 20px) scaleX(-1) rotate(5deg);}
    50% {transform: translate(-200px, 0) scaleX(-1) rotate(360deg);}
    51% {transform: translate(-200px, 0) scaleX(1) rotate(0deg);}
    75% {transform: translate(-100px, -20px) scaleX(1) rotate(-5deg);}
    100% {transform: translate(0, 0) scaleX(1) rotate(0deg);}
}

.krabbe {
    position: absolute;
    top: 76%;
    right: 18%;
    z-index: 10;
    width: 5vw;
    animation: krabbe 5s linear infinite;
}

@keyframes krabbe {
    0% {transform: translateX(0) scaleX(1);}
    50% {transform: translateX(-10px) scaleX(1);}
    100% {transform: translateX(0) scaleX(1);}
}

.lilla-fisk {
    position: absolute;
    top: 15%;
    right: 10%;
    z-index: 6;
    width: 5vw;
    animation: lilla-fisk 10s linear infinite;
}

@keyframes lilla-fisk {
    0% {transform: translate(0, 0) scaleX(-1);}
    25% {transform: translate(-400px, 30px) scaleX(-1);}
    50% {transform: translate(-900px, 0) scaleX(-1);}
    51% {transform: translate(-900px, 0) scaleX(1);}
    75% {transform: translate(-400px, -30px) scaleX(1);}
    100% {transform: translate(0, 0) scaleX(1);}
}

.pink-fisk {
    position: absolute;
    top: 35%;
    right: 20%;
    z-index: 3;
    width: 7vw;
    animation: pink-fisk 18s linear infinite;
}

@keyframes pink-fisk {
    0% {transform: translate(0, 0) scaleX(-1);}
    20% {transform: translate(-200px, -40px) scaleX(-1);}
    40% {transform: translate(-400px, 20px) scaleX(-1);}
    50% {transform: translate(-600px, 0) scaleX(-1);}
    51% {transform: translate(-600px, 0) scaleX(1);}
    60% {transform: translate(-400px, 40px) scaleX(1);}
    80% {transform: translate(-200px, -20px) scaleX(1);}
    100% {transform: translate(0, 0) scaleX(1);}
}

.blue-fisk {
    position: absolute;
    top: 60%;
    left: 25%;
    z-index: 6;
    width: 6vw;
    animation: blue-fisk 10s linear infinite;
}

@keyframes blue-fisk {
    0% {transform: translate(0, 0) scaleX(1)}
    25% {transform: translate(100px, 20px) scaleX(1)}
    50% {transform: translate(200px, 0) scaleX(1)}
    51% {transform: translate(200px, 0) scaleX(-1)}
    75% {transform: translate(100px, -20px) scaleX(-1)}
    100% {transform: translate(0, 0) scaleX(-1)}
}

.laks {
    position: absolute;
    top: 55%;
    right: 20%;
    z-index: 3;
    width: 5vw;
    animation: laks 18s linear infinite;
}

@keyframes laks {
    0% {transform: translate(0, 0) scaleX(-1);}
    20% {transform: translate(100px, -40px) scaleX(-1);}
    40% {transform: translate(200px, 20px) scaleX(-1);}
    50% {transform: translate(300px, 0) scaleX(-1);}
    51% {transform: translate(300px, 0) scaleX(1);}
    60% {transform: translate(200px, 40px) scaleX(1);}
    80% {transform: translate(100px, -20px) scaleX(1);}
    100% {transform: translate(0, 0) scaleX(1);}
}

.bobbel {
    position: absolute;
    bottom: 24%;
    right: 18%;
    z-index: 5;
    width: 4vw;
}

.bobbel-2 {
    position: absolute;
    bottom: 26%;
    left: 14%;
    z-index: 10;
    width: 4vw;
}


/*-----------------------------------------------------------------
MEDIA BREAKPOINTS RESPONSIVE DESIGN TIL IPAD AIR 13 INCH 1366x1024
------------------------------------------------------------------*/
@media (max-width: 1366px) {

.videns-akvarie-btn {
    left: 34vw;
}

.overskrift {
    top: 20%;
}

.green-tang {
    position: absolute;
    top: 32%;
}

.green-tang-lille {
    position: absolute;
    top: 52%;
}

.green-tang-stor {
    position: absolute;
    top: 28%;
}

.green-tang-stor-2 {
    position: absolute;
    top: 42%;
}

.gul-tang {
    position: absolute;
    top: 52%;
}

.gul-tang-stor {
    position: absolute;
    top: 55%;
}

.lilla-tang {
    position: absolute;
    top: 62%;
}

.akvariemanden {
    position: absolute;
    left: 66%;
    top: 50%;
}
}
