.baggrund {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/spil-forside.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;

}

/* Buttons */
.videns-akvarie {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: -4%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0;
    z-index: 10;
}

.videns-akvarie {
    left: 41%;
    background-image: url("../img/viden-akvarie.png");
}


.button-text-1 {
    position: absolute;
    left: 44%;
    bottom: 10%;
    z-index: 20;
    color: white;
    font-size: 20px;
    font-family: poppins;
    font-weight: bold;
    text-shadow: 0 2px 4px black;
}

.overskrift {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "poppins";
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    border-radius: 15px;
}


.green-seaweed {
    position: absolute;
    top: 31%;
    left: 3%;
    z-index: 4;
    width: 170px;
}

.green-seaweed-small {
    position: absolute;
    top: 46%;
    left: 14%;
    z-index: 4;
    width: 100px;

}

.green-seaweed-big {
    position: absolute;
    top: 27%;
    right: 14%;
    z-index: 4;
    width: 160px;

}

.green-seaweed-big-2 {
    position: absolute;
    top: 31%;
    right: 1%;
    z-index: 4;
    width: 150px;

}

.purple-seaweed {
    position: absolute;
    top: 61%;
    left: 35%;
    z-index: 3;
    width: 100px;
}

.yellow-seaweed {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 30%;
    z-index: 2;
    width: 120px;
}

.yellow-seaweed-big {
    position: absolute;
    top: 47%;
    right: 7%;
    z-index: 3;
    width: 180px;
}

.stone-big {
    position: absolute;
    top: 70%;
    left: 6%;
    z-index: 5;
    width: 170px;
}

.stone-big-2 {
    position: absolute;
    top: 68%;
    right: 17%;
    z-index: 5;
    width: 100px;
}

.stone-small {
    position: absolute;
    top: 70%;
    left: 32%;
    z-index: 5;
    width: 100px;
}

.stone-small-2 {
    position: absolute;
    top: 68%;
    right: 23%;
    z-index: 5;
    width: 70px;
}


.pink-shell {
    position: absolute;
    top: 68%;
    right: 32%;
    z-index: 5;
    width: 45px;
}


.akvariemanden {
    position: absolute;
    top: 45%;
    left: 43%;
    z-index: 6;
    width: 180px;
}

.nemo {
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: 6;
    width: 50px;
    animation: nemo 10s linear infinite;
}

@keyframes nemo {
    0% {transform: translate(0, 0) scaleX(-1) rotate(0deg);}

    25% {transform: translate(-100px, 20px) scaleX(-1) rotate(5deg);}

    50% {transform: translate(-200px, 0) scaleX(-1) rotate(360deg);}

    51% {transform: translate(-200px, 0) scaleX(1) rotate(0deg);}

    75% {transform: translate(-100px, -20px) scaleX(1) rotate(-5deg);}

    100% {transform: translate(0, 0) scaleX(1) rotate(0deg);}
}

.crab {
    position: absolute;
    top: 63%;
    right: 18%;
    z-index: 10;
    width: 70px;
    animation: crab 5s linear infinite;
}

@keyframes crab {
    0% {transform: translateX(0) scaleX(1);}

    50% {transform: translateX(-10px) scaleX(1);}

    100% {transform: translateX(0) scaleX(1);}
}

.purple-fish {
    position: absolute;
    top: 15%;
    right: 10%;
    z-index: 6;
    width: 70px;
    animation: purple-fish 10s linear infinite;
}

@keyframes purple-fish {
    0% {transform: translate(0, 0) scaleX(-1);}

    25% {transform: translate(-400px, 30px) scaleX(-1);}

    50% {transform: translate(-900px, 0) scaleX(-1);}

    51% {transform: translate(-900px, 0) scaleX(1);}

    75% {transform: translate(-400px, -30px) scaleX(1);}

    100% {transform: translate(0, 0) scaleX(1);}
}

.pink-blue-fish {
    position: absolute;
    top: 35%;
    right: 20%;
    z-index: 3;
    width: 70px;
    animation: pink-blue-fish 18s linear infinite;
}

@keyframes pink-blue-fish {
    0% {transform: translate(0, 0) scaleX(-1);}

    20% {transform: translate(-200px, -40px) scaleX(-1);}

    40% {transform: translate(-400px, 20px) scaleX(-1);}

    50% {transform: translate(-600px, 0) scaleX(-1);}

    51% {transform: translate(-600px, 0) scaleX(1);}

    60% {transform: translate(-400px, 40px) scaleX(1);}

    80% {transform: translate(-200px, -20px) scaleX(1);}

    100% {transform: translate(0, 0) scaleX(1);}
}

.yellow-fish {
    position: absolute;
    top: 60%;
    left: 25%;
    z-index: 6;
    width: 80px;
    animation: yellow-fish 10s linear infinite;
}

@keyframes yellow-fish {
    0% {transform: translate(0, 0) scaleX(1)}

    25% {transform: translate(100px, 20px) scaleX(1)}

    50% {transform: translate(200px, 0) scaleX(1)}

    51% {transform: translate(200px, 0) scaleX(-1)}

    75% {transform: translate(100px, -20px) scaleX(-1)}

    100% {transform: translate(0, 0) scaleX(-1)}
}

.brown-fish {
    position: absolute;
    top: 55%;
    right: 20%;
    z-index: 3;
    width: 70px;
    animation: brown-fish 18s linear infinite;
}

@keyframes brown-fish {
    0% {transform: translate(0, 0) scaleX(-1);}

    20% {transform: translate(100px, -40px) scaleX(-1);}

    40% {transform: translate(200px, 20px) scaleX(-1);}

    50% {transform: translate(300px, 0) scaleX(-1);}

    51% {transform: translate(300px, 0) scaleX(1);}

    60% {transform: translate(200px, 40px) scaleX(1);}

    80% {transform: translate(100px, -20px) scaleX(1);}

    100% {transform: translate(0, 0) scaleX(1);}
}

.bobbel {
    position: absolute;
    top: 58%;
    right: 32%;
    z-index: 5;
    width: 45px;
}

.bobbel-2 {
    position: absolute;
    top: 53%;
    right: 20%;
    z-index: 10;
    width: 50px;
}


/*------------------
MEDIA BREAKPOINTS
--------------------*/
